@import '../../../styles/variable';


.date-selector {
    margin: 50px 0 50px 0;
  gap: 12px;
  padding: 20px 0;

  h1{
    color: $text-color;
    margin-bottom: 50px;
    font-size: 24px;

  }

  .date-btn {
    padding: 10px 18px;
    border: 1px solid #333;
    color: $text-color;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.25s ease; 
    margin-left: 30px;

    &:hover {
      background: #333;
      border-color: #555;
      transform: translateY(-2px);
    }

    &.active {
      background: $button-color;
      color: $text-color;
      font-weight: 600;
      transform: scale(1.05);
    }
  }
}
