@import "../../styles/variable";

.intro-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 0;
  margin-top: 150px;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 30px;
  }
}

.intro-left {
  flex: 1;

  .intro-img-left {
    width: 80%;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.intro-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  .intro-img-right {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
  }
}

.intro-content {
  margin-top: 50px;
  text-align: left;
  align-items: flex-start;

  h3 {
    font-size: 20px;
    font-weight: 500;
    color: $text-color;
  }

  h1 {
    font-size: 50px;
    font-weight: 800;
    color: $text-color2;
    margin: 8px 0 20px;
    text-transform: uppercase;
  }
}

.discount {
  display: flex;
  text-align: left;
  align-items: flex-start;
  gap: 200px;
  margin-top: 12px;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .discount-description {
    color: $text-color;
    font-size: 14px;
    line-height: 1.5;
  }
}
