@import "../../../styles/variable";

.movie-card {
  display: flex;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 14px;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 26px rgba(255, 80, 80, 0.25);
  }

  .poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .info {
    flex: 1;
    color: $text-color;

    .top-line {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 13px;
      margin-bottom: 6px;

      .genre {
        color: $second-color;
        font-weight: 500;
      }

      .format {
        background: #233;
        padding: 2px 6px;
        border-radius: 5px;
        font-size: 12px;
        color: #d0d0d0;
      }
    }

    .title {
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 6px;
      color: $text-color;
    }

    .details {
      font-size: 14px;
      line-height: 1.45;
      margin-bottom: 12px;
      color: $second-color;

      .rating {
        font-weight: 700;
        margin-top: 6px;
      }
    }

    .showtimes {
      margin-top: 10px;

      .label {
        font-weight: 700;
        font-size: 15px;
        color: $button-color;
        margin-bottom: 8px;
      }

      .times {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .time-btn {
          padding: 7px 14px;
          background: #1d1d1d;
          border-radius: 6px;
          border: 1px solid #333;
          color: #eee;
          font-size: 14px;
          transition: 0.2s ease;

          &:hover {
            background: $button-color;
            color: $text-color;
          }
        }
      }
    }
  }
}

.movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
