@import "../../styles/variable";

.movie-detail {
  margin: 0 auto;
  padding: 20px;
  color: $text-color;
  min-height: 100vh;
  margin-top: 180px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .movie-info {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;

    .movie-poster {
      width: 450px;
      height: auto;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
      object-fit: cover;
      margin-top: 20px;
    }

    .movie-text {
      flex: 1;
      text-align: left;

      h1 {
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: 700;
      }

      p {
        margin: 8px 0;
        font-size: 16px;
        line-height: 1.5;

        strong {
          color: $text-color2;
        }
      }

      .review-title {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          color: $text-color2;
          font-weight: bold;
        }
        p {
          color: #f5c518;
        }
      }

      .toggle-desc-btn {
        background: none;
        border: none;
        color: $text-color2;
        font-size: 16px;
        margin-top: 5px;
        cursor: pointer;
        font-weight: 600;
        padding: 5px 0;

        &:hover {
          text-decoration: underline;
        }
      }

      .trailer-section {
        margin-top: 25px;

        .trailer-btn {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 6px;

          padding: 10px 18px;
          font-size: 18px;
          font-weight: 600;

          color: $text-color2;
          background: none;
          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 8px;
          cursor: pointer;
          transition: 0.2s;

          span {
            font-size: 25px;
          }

          &:active {
            transform: scale(0.9);
          }
        }

        iframe,
        video {
          width: 100%;
          max-width: 900px;
          height: 250px;
          border-radius: 10px;
          margin-top: 10px;
        }
      }
    }

    .divider {
      width: 1px;
      background: rgba(255, 255, 255, 0.4);
      height: 100%;
    }

    .reviews {
      width: 370px;
      max-height: 500px;
      overflow-y: auto;
      padding-right: 10px;
    }

    .review-item {
      padding: 12px 0;
      border-bottom: 1px solid #333;

      &:last-child {
        border-bottom: none;
      }
    }

    .review-user {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 16px;
      color: $text-color2;

      span {
        color: $second-color;
      }
    }

    .review-comment {
      margin-top: 4px;
      opacity: 0.9;
    }
  }

  .showtimes-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 200px;

    .date-list {
      display: flex;
      justify-content: center;
      gap: 20px;
      overflow-x: auto;
      padding-bottom: 6px;

      .date-item {
        min-width: 110px;
        padding: 10px 14px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        transition: 0.25s ease;
        border: 1px solid #fff;

        .weekday {
          font-size: 15px;
          color: $text-color;
          text-transform: capitalize;
          background-color: transparent;
        }

        .day {
          font-size: 16px;
          font-weight: 600;
          margin-top: 3px;
          background-color: transparent;
          color: $text-color;
        }

        &.active {
          background: $button-color;
          color: #000;
          border-color: #000;
        }
      }
    }

    .time-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;

      .time-btn {
        padding: 10px 16px;
        border-radius: 8px;
        border: 1px solid #ccc;
        background: #fff;
        cursor: pointer;

        &:hover {
          background: #111;
          color: #fff;
          border-color: #111;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .movie-info {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .movie-text {
        text-align: left;
      }

      .movie-poster {
        width: 260px;
      }

      iframe,
      video {
        height: 300px;
      }

      .divider {
        display: none;
      }

      .reviews {
        max-width: 100%;
      }
    }
  }

  @media (max-width: 600px) {
    .movie-info {
      .movie-poster {
        width: 200px;
      }

      iframe,
      video {
        height: 220px;
      }
    }
  }
}
