@import "../../styles/variable";

.movie-detail {
  max-width: 1300px;
  margin: 0 auto;

  padding: 20px;
  color: $text-color;
  min-height: 100vh;
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .back-btn {
    background: transparent;
    border: 1px solid #666;
    color: $text-color;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 50px;
    text-align: left;

    &:hover {
      background: #444;
    }
  }

  .movie-info {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
    .movie-poster {
      width: 450px;
      height: auto;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
      object-fit: cover;
    }

    .movie-text {
      flex: 1;
      text-align: left;

      h1 {
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: 700;
      }

      p {
        margin: 8px 0;
        font-size: 16px;
        line-height: 1.5;

        strong {
          color: $text-color2;
        }
      }

      .toggle-desc-btn {
        background: none;
        border: none;
        color: $text-color2;
        font-size: 16px;
        margin-top: 5px;
        cursor: pointer;
        font-weight: 600;
        padding: 5px 0;

        &:hover {
          text-decoration: underline;
        }
      }

      .trailer-section {
        margin-top: 25px;

        h3 {
          font-size: 22px;
          margin-bottom: 10px;
          color: $text-color2;
        }

        .trailer-btn {
          background: none;
          border: 1px solid rgba(255, 255, 255, 0.3);
          color: $text-color2;
          padding: 8px 14px;
          border-radius: 6px;
          cursor: pointer;
          margin-top: 10px;
          transition: 0.2s;

          &:hover {
            background: rgba(255, 255, 255, 0.15);
          }
        }

        iframe,
        video {
          width: 100%;
          max-width: 900px;
          height: 400px;
          border-radius: 10px;
          margin-top: 10px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .movie-info {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .movie-text {
        text-align: left;
      }

      .movie-poster {
        width: 220px;
      }

      iframe,
      video {
        height: 300px;
      }
    }
  }

  @media (max-width: 600px) {
    .movie-info {
      .movie-poster {
        width: 180px;
      }

      iframe,
      video {
        height: 220px;
      }
    }
  }
}
