$second-color: #ff9933;
$button-color: #ff0000;
$text-color2: #ff2e2e;
$text-color: #fff;

$font-main: 'Roboto', sans-serif !important;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
