@import '../../styles/variable';

.banner-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;

  .item-banner {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .slick-prev,
  .slick-next {
    z-index: 10;
    width: 50px;
    height: 50px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      font-family: 'slick';
      font-size: 24px;
      line-height: 50px;
      text-align: center;
      color: red;
      opacity: 0.85;
      background-color: rgba(17, 16, 16, 0.5);
      border-radius: 50%;
      transition: all 0.3s ease;
    }

    &.slick-prev:before {
      content: '\2039';
    }
    &.slick-next:before {
      content: '\203A';
    }

    &:hover {
      width: 65px;
      height: 65px;

      &:before {
        background-color: rgba(68, 63, 63, 0.2);
        color: $button-color;
        opacity: 1;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
      }
    }
  }

  .slick-prev {
    left: 60px;
  }

  .slick-next {
    right: 60px;
  }

  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .banner-container {
    .slick-prev,
    .slick-next {
      width: 40px;
      height: 40px;

      &:before {
        font-size: 22px;
        line-height: 44px;
      }
    }

    .slick-prev {
      left: 16px;
    }

    .slick-next {
      right: 16px;
    }
  }
}
