@import '../../styles/variable';

.trailer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.trailer-content {
  position: relative;
  width: 80%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  background: $button-color;
  border-radius: 10px;
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  background: none;
  color: $text-color;
  font-size: 28px;
  border: none;
  cursor: pointer;
}
