@import '../../styles/variable'; 

.header {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;   
  color: $text-color;
  padding: 14px 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;

  a{
    text-decoration: none !important;
  }

  


  .header-top {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    img {

      height: 150px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 14px;

    .btn {
      display: flex;
      align-items: center;
      gap: 8px;
      background: #1a1a1a;
      padding: 10px 18px;
      border-radius: 6px;
      border: 1px solid #333;
      color: $text-color;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.28s ease;

      .btn-icon {
        font-size: 20px;
        background-color: transparent;
      }

      &:hover {
        background: $button-color;
        border-color: $button-color;
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(229, 9, 20, 0.35);
      }
    }

    .btn-ticket {
      background: $button-color;
      border-color: $button-color;

      &:hover {
        background: darken($button-color, 10%);
        border-color: darken($button-color, 10%);
      }
    }

    .btn-combo {
      background: #333;
      border-color: #333;

      &:hover {
        background: darken(#333, 10%);
        border-color: darken(#333, 10%);
      }
    }
  }

  .header-icons {
    display: flex;
    align-items: center;
    gap: 30px;

    .icon-item {
      font-size: 24px;
      cursor: pointer;
      color: $text-color;
      transition: all 0.25s;

      &:hover {
        color: $button-color;
        transform: scale(1.1);
      }
    }
  }

  @media (max-width: 768px) {
    padding: 10px 0;

    .header-top {
      padding: 0 16px;
      gap: 14px;
    }

    .header-actions {
      gap: 8px;

      .btn {
        padding: 8px 10px;
        font-size: 13px;

        .btn-icon {
          font-size: 18px;
        }
      }
    }

    .header-icons {
      gap: 14px;
    }

    .header-logo img {
      height: 70px;
    }
  }
}


