@import '../../styles/variable';

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 120px 80px 60px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .container {
    padding: 100px 40px 50px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 80px 20px 40px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 70px 16px 30px;
  }
}
