@import "../../styles/variable";

.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.auth-container {
  width: 500px;
  padding: 28px;
  background: transparent;
  color: $text-color;
  border-radius: 12px;
  border: 1px solid $text-color;

  position: relative;
  animation: fadeIn 0.2s ease;
  border: 2px solid(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 28px;
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;

  &:hover {
    color: $text-color;
  }
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  label {
    left: 0;
    margin-bottom: 6px;
    font-size: 14px;
    align-self: flex-start;
  }

  input {
    background: transparent;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #1e293b;
    color: $text-color;

    &:focus {
      border-color: $button-color;
      outline: none;
    }
  }
}

.row {
  display: flex;
  gap: 14px;
}

.btn-submit {
  width: 30%;
  padding: 12px;
  background: $button-color;
  border: none;
  border-radius: 8px;
  color: $text-color;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;

  &:hover {
    opacity: 0.9;
  }
}

.switch-text {
  margin-top: 14px;

  a {
    color: $text-color2;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
